html,
body {
  background: linear-gradient(135deg, #006400, #98FB98);
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenedor principal que contiene el formulario y la sección de bienvenida */
.login-container {
  display: flex;
  width: 800px;
  height: 500px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 20px;
  box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Sección del formulario de login */
.login-form {
  flex: 1;
  padding: 40px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Título principal del formulario */
.sign {
  color: #006400;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

/* Subtítulo del formulario */
.sub-sign {
  color: #666;
  font-size: 16px;
  margin-bottom: 30px;
}

.error-message {
  color: red; /* Cambiar a rojo */
  text-align: center; /* Centrar el texto */
}


/* Grupo de entrada con íconos */
.input-group {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #006400;
  font-size: 18px;
}

.welcome-image {
  max-width: 50%;
  height: auto;
  margin-top: 20px; /* Añadir un espacio entre el texto y la imagen */
  border-radius: 20px; /* Añadir bordes redondeados a la imagen si lo deseas */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Añadir sombra a la imagen */
}

.un,
.pass {
  width: 100%;
  padding: 12px 40px;
  margin-bottom: 10px;
  border: 2px solid #006400;
  border-radius: 25px;
  background-color: #f0f0f0;
  font-size: 16px;
  color: #333;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, border 0.3s ease;
  outline: none;
}

/* Animación en el foco de los inputs */
.un:focus,
.pass:focus {
  box-shadow: 0 0 8px rgba(0, 167, 22, 0.5);
  background-color: #fff;
  border-color: #00c853;
}

/* Botón de inicio de sesión */
.submit {
  width: 100%;
  padding: 12px 0;
  background: linear-gradient(90deg, #006400, #7CFC00);
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  margin-top: 20px;
}

/* Efecto hover en el botón */
.submit:hover {
  background: linear-gradient(90deg, #7CFC00, #006400);
  transform: translateY(-4px);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);
}

/* Sección de bienvenida */
.welcome-section {
  flex: 1;
  padding: 40px;
  background: linear-gradient(135deg, #006400, #58f058);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: jus;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.welcome-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  font-family: fantasy;

}

.welcome-section p {
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  max-width: 300px;
}

.loading-spinner-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #00ee40; /* Puedes cambiar el color del spinner aquí */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(860deg);
  }
}