* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}

ul {
    list-style: none;
}

li {
    font-size: 1.25em;
}

button {
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: rgb(54, 134, 61);
}

button:hover {
    background-color: rgb(150, 175, 140);
}

.container {
    max-width: 1400px;
    margin: auto;
}

.color-acento {
    color: rgb(131, 209, 157);
}

header {
    background-color: rgb(0, 0, 0);

}

header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(85, 151, 72);
    font-size: 1.6em;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(175, 209, 169);
}

header a:hover {
    color: rgb(161, 235, 183);
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("https://opendigital.es/wp-content/uploads/2020/05/benefit.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 100px;
    padding-bottom: 20px;
}

#hero h1 {
    color: white;
    font-size: 4em;
    margin-bottom: 20px;
    line-height: 1.2;
    font-weight: bold;
}

#hero button {
    font-size: 1.75em;
    padding: 15px 40px;
    border-radius: 8px;
    margin-top: 30px;
}

#somos-proya .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 50px;
    text-align: left;
}

#nuestros-programas {
    background-color: rgb(59, 136, 35);
    color: white;
    color: rgb(255, 255, 255);
    padding: 50px 0;
    text-align: center;
}

#nuestros-programas .container {
    padding: 50px 20px;
}

#nuestros-programas h2 {
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: bold;
}

#nuestros-programas p {
    display: none;
    margin-bottom: 20px;
    font-size: 1em;
    line-height: 1.4;
}

.programas {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

#nuestros-programas .carta {
    background-color: #2d302f;
    color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 2px 2px 10px rgba(94, 90, 90, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease;
}

.carta button {
    background-color: rgb(54, 134, 61);
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carta button:hover {
    background-color: rgb(100, 200, 120);
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.carta:first-child {
    background-image: linear-gradient(0deg,
            rgba(7, 226, 44, 0.5),
            rgba(145, 67, 67, 0.5)), url("https://opendigital.es/wp-content/uploads/2020/05/benefit.jpg");

}

.carta:nth-child(2) {
    background-image: linear-gradient(0deg,
            rgba(83, 224, 64, 0.5),
            rgba(100, 177, 89, 0.5)), url("https://opendigital.es/wp-content/uploads/2020/05/benefit.jpg");
}

.carta:nth-child(3) {
    background-image: linear-gradient(0deg,
            rgba(108, 146, 90, 0.5),
            rgba(127, 165, 117, 0.5)), url("https://opendigital.es/wp-content/uploads/2020/05/benefit.jpg");

}

#caracteristicas .container {
    text-align: center;
    padding: 250px 12px;
}

#caracteristicas li {
    margin: 16px 0px;
    font-weight: bold;
}


footer {
    background-color: rgb(230, 230, 230);
}

footer p {
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
}

footer .container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 850px) {
    header {
        position: fixed;
        width: 100%;
    }

    header .container {
        flex-direction: row;
        justify-content: space-between;
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1 {
        font-size: 5em;
    }

    #somos-proya .container {
        display: flex;
        justify-content: space-evenly;
    }

    #somos-proya .texto {
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #somos-proya h2 span {
        color: #0f8b38;
        font-weight: bold;
        font-size: 1.2em;
    }

    #somos-proya p {
        font-size: 1.1em;
        line-height: 1.8;
        color: #555;
        margin-top: 10px;
        text-align: justify;
    }

    #somos-proya h2 {
        margin-top: 0px;
    }

    #somos-proya .img-container {
        background-image: url("https://arquitecturapanamericana.com/wp-content/gallery/AULARIO-EN-EL-CAMPUS-DE-LA-UNIVERSIDAD-RICARDO-PALMA%2C-SURCO/AULARIO-EN-EL-CAMPUS-DE-LA-UNIVERSIDAD-R.-P.-006.jpg");
        background-size: cover;
        background-position: center;
        border-radius: 15px;
        /* Bordes redondeados para la imagen */
        height: 500px;
        width: 400px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        /* Añadir sombra */
    }

    #nuestros-programas .programas {
        display: flex;
        justify-content: center;
    }

    #nuestros-programas p {
        display: block;
        margin-bottom: 30px;
    }

    #nuestros-programas h2 {
        font-size: 4em;
    }

    #nuestros-programas h3 {
        margin-bottom: 100px;
        font-size: 2.5em;
        font-family: fantasy;
    }

    #nuestros-programas .carta {
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgb(85, 85, 85);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
        border: 2px solid #e0e0e0; 
    }

    .carta:first-child {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTkNxr2DXCRZScaqgcm8KI7QVWtz4meNHo0A&s");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;

    }

    .carta:nth-child(2) {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToIazOv6qzfTU69bW9FcXzHEJQFn6dS5sBFQ&s");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
    }

    #caracteristicas {
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZG3Tao3JqpB2zhj4G--wIxrvGj4ppcTqoag&s");
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 500px) 120px;
    }

    #caracteristicas .container {
        text-align: initial;
    }

    #caracteristicas ul {
        margin-left: 100px;
    }

    #final h2 {
        font-size: 5em;
    }

    #final button {
        font-size: 2em;
    }

    footer .container {
        justify-content: flex-end;
    }
}

@media (min-width: 1200px) {
    #caracteristicas {
        background-position-x: calc(100vw - 800px);
    }
}

footer {
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
}

.footer-distributed {
    background-color: #1a492c;
    color: #ffffff;
    box-sizing: border-box;
    width: 100%;
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.footer-left,
.footer-center,
.footer-right {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer-left .logo-blanco img {
    width: 120px;
    margin-bottom: 15px;
}

.footer-links {
    margin: 20px 0;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 15px;
    font-weight: normal;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-center i {
    margin-right: 15px;
    font-size: 22px;
    background-color: #2c5b86;
    color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}

.footer-center p {
    display: flex;
    align-items: center;
    color: #ffffff;
    margin: 0 0 20px 0;
}

.footer-center a {
    color: #ffffff;
    text-decoration: none;
}

.footer-center a:hover {
    text-decoration: underline;
}

.footer-company-about {
    margin: 20px 0;
    color: #ffffff;
}

.footer-company-about span {
    font-size: 18px;
    font-weight: bold;
}

.footer-icons {
    margin-top: 20px;
}

.footer-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #3b5998;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    transition: background-color 0.3s ease;
}

.footer-icons a:hover {
    background-color: #1a355b;
}

.footer-company-name {
    font-size: 14px;
    color: #8f9296;
    margin-top: 20px;
}

@media (max-width: 880px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}

button:hover {
    background-color: rgb(100, 200, 120);
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.resaltado {
    color: #ffffff; /* Un amarillo brillante para destacarlo */
    font-weight: bold; /* Hacerlo negrita */
    text-decoration: underline; /* Añadir subrayado */
    cursor: pointer; /* Cambiar el cursor para indicar que es clickeable */
}

