<head>
    <title>MENTORIA!</title>
</head>

<body>
    <header>
        <div class="container">
            <p class="logo">
                <a (click)="scrollToSection('top')">STAR URP</a>
            </p>
            <nav>
                <a (click)="scrollToSection('#somos-proya')">Quienes Somos</a>
                <a (click)="scrollToSection('#nuestros-programas')">Nuestros Programas</a>
                <a (click)="scrollToSection('#caracteristicas')">Características</a>
            </nav>
        </div>
    </header>

    <section id="hero">
        <h1>Conviértete en Mentor
            <br>Guía, inspira y transforma vidas
        </h1>
        <button>INSCRIBETE</button>
    </section>

    <section id="somos-proya">
        <div class="container">
            <div class="img-container"></div>
            <div class="texto">

                <h2>Somos <span class="color-acento">Star Urp</span></h2>
                <p>Nuestro Programa de Mentoría está diseñado para acompañar y apoyar a los nuevos estudiantes en cada
                    paso de su transición universitaria. A través de un acompañamiento personalizado, les ayudamos a
                    integrarse plenamente en el entorno académico, social y cultural. Ofrecemos talleres interactivos y
                    asesoría dedicada para asegurar su éxito académico y fomentar su desarrollo personal.
                </p>
                <button>UNIRTE</button>
            </div>
        </div>
    </section>

    <section id="nuestros-programas">
        <div class="container">
            <h2>Nuestros Programas</h2>
            <div class="programas">
                <div class="carta">
                    <h3>MENTOR</h3>
                    <p></p>
                    <button class="btn btn-primary" (click)="goToMentores()">UNIRTE</button>
                </div>
                <div class="carta">
                    <h3>MENTORIADO</h3>
                    <p></p>
                    <button>UNIRTE</button>
                </div>
                <div class="carta">
                    <h3>INVITADO</h3>
                    <p></p>
                    <button>UNIRTE</button>
                </div>
            </div>
        </div>
    </section>

    <section id="caracteristicas">
        <div class="container">
            <ul>
                <li>✔️ 100% Presencial</li>
                <li>✔️ Acompañamiento personalizado</li>
                <li>✔️ Talleres interactivos</li>
                <li>✔️ Red de contactos</li>
            </ul>
        </div>
    </section>
</body>
<footer class="footer-distributed">

    <div class="footer-left">
        <div class="logo-blanco">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8X4H6nNtyD6X5NThGHvSmydNFJnt2ptwZVQ&s"
                alt="Logo STAR URP">
        </div>

        <p class="footer-links">
            <a href="#somos-proya">Quienes Somos</a>
            |
            <a href="#nuestros-programas">Nuestros Programas</a>
            |
            <a href="#caracteristicas">Características</a>
            |
            <a href="#fa fa-phone">Contactos</a>
        </p>
    </div>
-----
    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Av. Benavides 5440, Lima, Peru</span></p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+51 985 755 555</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:rsurp@urp.edu.pe">rsurp&#64;urp.edu.pe</a></p>
        </div>
    </div>

    <div class="footer-right">
        <p class="footer-company-about">
            <span>Sobre Nosotros</span>
            El Programa de Mentoría apoya a los nuevos estudiantes en su transición universitaria, ayudándoles a
            adaptarse al entorno académico, social y cultural.
        </p>

        <div class="footer-icons">
            <a href="https://www.facebook.com/urpalma/" aria-label="Facebook URP">
                <i class="fa fa-facebook"></i>
            </a>
        </div>
        <p class="footer-company-name">2024 Programa de Mentoría URP. Todos los derechos reservados por COTOX3D</p>
    </div>
</footer>