<head>
    <title>MENTORIA!</title>
</head>
<body>
    <header>
        <div class="container">
            <p class="logo">STAR URP
            </p>
            <nav>
                <a href="#somos-proya">Quienes Somos</a>
                <a href="#nuestros-programas">Nuestros Programas</a>
                <a href="#caracteristicas">Características</a>
            </nav>
        </div>
    </header>

    <section id="hero">
        <h1>MENTOR<br>Unete a nosotros</h1>
        <button>INSCRIBETE</button>
    </section>

    <section id="somos-proya">
        <div class="container">
            <div class="img-container"></div>
            <div class="texto">

                <h2>Somos <span class="color-acento">Stard Urp</span></h2>
                <p>El Programa de Mentoría apoya a los nuevos estudiantes en su transición universitaria, ayudándoles a adaptarse al entorno académico, social y cultural. Ofrecemos acompañamiento personalizado y talleres diseñados para fomentar su éxito académico y personal.</p>
            </div>
        </div>
    </section>

    <section id="nuestros-programas">
        <div class="container">
            <h2>Nuestros Programas</h2>
            <div class="programas">
                <div class="carta">
                    <h3> MENTOR </h3>
                    <p></p>
                    <button>UNIRTE</button>
                </div>
                <div class="carta">
                    <h3>MENTORIADO</h3>
                    <p></p>
                    <button>UNIRTE</button>
                </div>
                <div class="carta">
                    <h3>INVITADO</h3>
                    <p></p>
                    <button>UNIRTE</button>
                </div>  
            </div>
        </div>
    </section>

    <section id="caracteristicas">
        <div class="container">
            <ul>
                <li>✔️ 100% Presencial</li>
                <li>✔️ Acompañamiento personalizado</li>
                <li>✔️ Talleres interactivos</li>
                <li>✔️  Red de contactos</li>
            </ul>
        </div>
    </section>
</body>
<footer class="footer-distributed">

    <div class="footer-left">

        <div class="logo-blanco">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8X4H6nNtyD6X5NThGHvSmydNFJnt2ptwZVQ&s" alt="Image description">
        </div>

        <p class="footer-links">
            
            <a href="#somos-proya">Quienes Somos</a>
            |
            <a href="#nuestros-programas">Nuestros Porgramas</a>
            |
            <a href="#caracteristicas">Características</a>
            |
            <a href="#fa fa-phone">Contactos</a>
            
        </p>
    </div>
    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Av. Benavides 5440, Lima, Peru</span></p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+51 985 755 555</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="rsurp@urp.edu.pe">rsurp&#64;urp.edu.pe</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>Sobre Nosotros</span>
            <strong>satard url: </strong><br>
            El Programa de Mentoría apoya a los nuevos estudiantes en su transición universitaria, ayudándoles a adaptarse al entorno académico, social y cultural. Ofrecemos acompañamiento personalizado y talleres diseñados para fomentar su éxito académico y personal.
        </p>
        <div class="footer-icons">
            <a href="https://www.facebook.com/urpalma/"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"/>
              </svg></a>
        </div>
        <p class="footer-company-name">2024 Programa de Mentoría URP. Todos los derechos reservado por COTOX3D</p>
    </div>
</footer>